.interna-contato {
    background: url("../img/bg-contato.jpg") no-repeat center;
    background-size: cover;
}

/*==========================
    CONTATO - FORMULÁRIO
============================*/

.contato {
    padding: 40px 0;
}

.contato__form {
	padding-right: 60px;
}

.contato__form label{
	display: block;
    
    margin-bottom: 4px;
    
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 25px;
}

.contato__form input {
	display: block;
    
    width: 100%;
	padding: 7px 10px;
	margin-bottom: 10px;
    
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
    
    border: 4px solid #fec63e;
	background: none;
    outline: 0;
}

.contato__form textarea {
    display: block;
    
	width: 100%;
	height: 120px;
	padding: 7px 10px;
	margin-bottom: 20px;
    
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
    
    border: 4px solid #fec63e;
    background: none;
	outline: 0;
}

.contato__form textarea::placeholder {
    color: #666;
    opacity: 1; /* Firefox */
}

.contato__form button {
	padding: 7px 40px;
	background: none;
}

.contato__form button:hover {
    color: #000;
    
    border-color: #000;
}

/*==========================
    CONTATO - DADOS
============================*/
 
.contato__dados h3{
	color: #fec63e;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
    font-weight: bold;
}

.contato__dados span {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", serif;
}

.email--espacamento, .endereco--espacamento {
	margin-bottom: 40px;
}

/*==========================
    SOCIAL
============================*/

.social h3 {
    margin-bottom: 10px;
}

.social ul li {
    display: inline-block;
}

.social ul li img {
    padding: 10px 10px;
    margin-right: 10px;

    border: 3px solid #fec63e;
}

.social ul li img:hover {
    border-color: #000;
}

/*==========================
    MAPA
============================*/

.mapa {
    padding-bottom: 60px;
}