/*==========================
    PRODUTOS  
============================*/

.interna-produtos {
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.passeio, .esporte, .retro {
    margin-bottom: 60px;
}

.produto-item {
    position: relative;

    width: 100%;
    padding-top: 60px;
}

.produto-item h2 {
    position: absolute;
    top: 110px;
    left: 240px;

    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.produto-item h2::after, .produto-item h2::before {
    content: "";
    
    display: block;
    margin: 8px auto;
    width: 60px;
    height: 3px;

    background-color: #fff;
}

.produto-item__icone {
    padding: 70px 0;
    margin-bottom: 20px;

    background-color: #000;
}

.produto-item__icone img {
    margin: 0 auto;
}

.bgitem--margin-extra {
    margin-bottom: 20px;
}

.produto-item__info {
    background-color: #000;
}

.produto-item__info p {
    height: 180px;
    padding: 30px 40px;

    color: #fff;
    font-size: 18px;
    line-height: 25px;
}

.produto-item__info li {
    float: left;
    height: 49px;
    width: 229px;
    padding-top: 16px;

    background-color: #FEC63E;

    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

.produto-item__info li:nth-child(1), .produto-item__info li:nth-child(2) {
    margin-bottom: 2px;
}

.produto-item__info li:nth-child(even) {
    margin-left: 2px;
}

/*==========================
    ORCAMENTO - FORMULÁRIO
============================*/

.orcamento {
	width: 100%;
	margin-top: 60px;
    padding: 40px 0;
    
	background: #000;
}

.orcamento h2 {
	color: #fec63e;
}

.orcamento h2:after {
	background: #fec63e;
}

.form {
	padding-right: 60px;
}

.form label{
	display: block;
    
    margin-bottom: 4px;
    
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 25px;
}

.form input {
	display: block;
    
    width: 100%;
	padding: 7px 10px;
	margin-bottom: 10px;
    
    color: #fff;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
    
    border: 4px solid #fec63e;
	background: none;
    outline: 0;
}



.form textarea {
    display: block;
    
	width: 100%;
	height: 120px;
	padding: 7px 10px;
	margin-bottom: 20px;
    
    color: #fff;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
    
    border: 4px solid #fec63e;
    background: none;
	outline: 0;
}

.form textarea::placeholder {
    color: #888;
    opacity: 1; /* Firefox */
}

.form button {
	padding: 7px 40px;
	background: none;
}

/*==========================
    ORCAMENTO - DADOS
============================*/

.orcamento__dados {
	color: #fff;
}
 
.orcamento__dados h3{
	color: #fec63e;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.orcamento__dados span {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", serif;
}

.dados-email {
	margin-bottom: 40px;
}

.orcamento__dados ul {
	padding-right: 60px;
}

.orcamento__dados ul li {
    padding: 10px 15px;
    
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
}

.orcamento__dados ul li:nth-child(odd) {
	background: #1d1d1d;
}

.orcamento__dados p {
	margin: 8px 0;
}