/*==========================
    ESTILOS PARA TABLETE  
============================*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
    /*==========================
        QUALIDADE 
    ============================*/
    /* Trecho para modificar a imagem com linhas */
    .qualidade::after {
        right: 66px; 
    }

    .qualidade__lista li {
        padding: 0 10px;
    }

    /*==========================
        FOOTER 
    ============================*/

    .footer__social ul li a {
        padding: 5px;
    }

    .footer__social ul li a img {
        /* diminui os icones das redes sociais */
        width: 26px;
        height: 26px;
    }
}

/*==========================
    ESTILOS PARA SMARTPHONE  
============================*/
@media only screen and (max-width: 787px) {

    /*==========================
        HEADER/CABEÇALHO  
    ============================*/
    .header {
        position: relative; /*Necessário para remover o fixed definido em style.css*/
        
        padding-bottom: 0;
    }

    .header img {
        margin: 0 auto 10px auto; /*centralizar a logo do cabeçalho*/
    }

    .header__menu {
        text-align: center;
    }

    .header__menu ul li {
        margin: 5px;
    }

    .header__menu ul li a{
        display: block;
        float: left;

        width: 136px;
        /* padding: 10px 0; */

        border: 4px solid #000;
    }

    .header__menu ul li a:hover {
        border-color: #fff;
    }

    .header__menu ul li a.menu-ativo {
        border-color: #fff;
    }

    /*==========================
        INTRODUÇÃO 
    ============================*/

    .introducao {    
        margin-top: 0;
        padding-top: 50px;
        background: url("../img/bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }

    .introducao h1 {
        font-size: 36px;
    }

    /*==========================
        INTRODUÇÃO INTERNA
    ============================*/

    .introducao-interna {
        margin-top: 0;
    }

    /* Sobrescrevendo o padding-right declarado no arquivo sobre.css */
    .missao-sobre p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0;
    }

    .missao-sobre ul li {
        font-size: 14px;
        line-height: 25px;
    }

    /*==========================
        PRODUTOS 
    ============================*/

    .produtos {
        padding: 30px 0;
    }

    /*==========================
        QUALIDADE 
    ============================*/

    .qualidade {
        padding: 30px 0;
    }

    /* Remove as linhas criadas na seção de qualidade */
    .qualidade::after {
        display: none; 
    }

    .qualidade__lista li {
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .call-to-action {
        padding: 10px;
    }

    /*==========================
        FOOTER 
    ============================*/

    .copy p {
        margin-bottom: 0;
    }
}