/*==========================
    ESTILOS GLOBAIS  
============================*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 10px 30px;

    color: #FEC63E;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    vertical-align: baseline;

    border: 3px solid #FEC63E;
}

.btn:hover {
    color: #FFF;
    border-color: #FFF;
}

.btn--black:hover {
    color: #000;
    border-color: #000;
}

.subtitulo {
    margin-bottom: 40px;

    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.875rem;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo::after {
    content: "";
    
    display: block;
    margin: 8px auto;
    width: 60px;
    height: 3px;

    background-color: #000;
}

/*==========================
    HEADER/CABEÇALHO  
============================*/

.header {
    width: 100%; /*100% do body*/
    padding: 15px 0;

    position: fixed; /*O header irá acompanhar o scroll no site*/
    top: 0; /*garante que o header ficará posicionado no topo*/

    background-color: #FEC63E;

    /* 
    Necessário para que o header fique por cima dos outros elementos quando
    o usuário fizer o scroll da página 
    */
    z-index: 99;
}

.header__menu {
    text-align: right;
}

.header__menu ul li {
    display: inline-block;

    margin-left: 25px;
    margin-top: 20px;
}

.header__menu ul li a{
    padding: 10px 0;

    color: #000;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 20px;
}

.header__menu ul li a:hover{
    color: #FFF;
}

/*==========================
    INTRODUÇÃO 
============================*/

.introducao {
    width: 100%;
    height: 380px; /*Altura da imagem*/
    /*Necessário pois o header possuí 96px de altura e está definido com position fixed*/
    margin-top: 96px; 
    padding-top: 80px; /*para alinhar o texto mais ao centro*/

    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;

    text-align: center;
}

.introducao h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.citacao {
    max-width: 280px;
    margin: 0 auto;

    color: #fff;
}

.citacao p {
    font-style: italic;
}

/* Trecho para adição do traço divisor tipográfico. */
.citacao p::before, .citacao p::after {
    content: " ";

    display: block;
    width: 60px;
    height: 3px;
    
    margin: 15px auto 10px auto;
    
    background-color: #fff;
}

.citacao__autor {
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.introducao .btn {
    margin-top: 30px;
}

/*==========================
    PRODUTOS 
============================*/

.produtos {
    padding: 60px 0;
}

.produtos__lista li {
    background-color: #FEC63E;
    text-align: center;
}

.produtos__lista li h3 {
    margin-top: 20px;

    color: #000;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.56rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.produtos__lista li h3::after {
    content: "";
    
    display: block;
    margin: 2px auto;
    width: 60px;
    height: 3px;

    background-color: #000;
}

.produtos__lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos__icone {
    background-color: #000;
    padding: 20px;
}

.call-to-action {
    clear: both;

    padding-top: 40px;

    text-align: center;
}

.call-to-action p {
    margin-bottom: 10px;
}